:root {
    --bgcolor: #fde047;
}

body {background-color: var(--bgcolor);}

#btn-translate {
    background-color: white; 
  color: black; 
  border: 2px solid #fbbf24;
  }

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;

}

#output {
    background-color: whitesmoke;
    font-weight: bolder;
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;

}